{% extends "base.html" %}
{% block title %}自慧理 - 嗚謝{% endblock %}
{% block css %}{% endblock %}

{% block main %}
<a href="/" class="btn btn-primary my-3 mx-3">
    <i class="bi bi-arrow-left"></i>回主頁</a>

<div class="container text-center my-3">
    <h1>嗚謝</h1>
    <span class="fw-bold">Credit:</span><br>
    (Note: These graphicial resources have been used<br> to create new modified images)<br><br>
    <a href="https://www.flaticon.com/free-icons/health">Freepik-Flaticon</a><br>
    App Logo 'Health' icons<br><br>
    Part of stock photos are from <a href="https://www.pexels.com">Pexels</a>
    <hr>
    <span class="fw-bold">Resource used in Front Page:</span><br><br>
    <a href="http://www.freepik.com">vectorjuice / Freepik</a><br>
    Tutorial illustration<br><br>
    <a href="http://www.freepik.com">macrovector / Freepik</a><br>
    Physiotherapy illustration<br><br>
    <a href="https://www.freepik.com/vectors/background">s.salvador / Freepik</a><br>
    Physiotherapy illustration background vector<br><br>
    <a href="https://www.freepik.com/vectors/man">Freepik</a><br>
    Man with record vector<br><br>
    <a href="https://www.vectorstock.com/royalty-free-vector/elegant-smooth-blue-business-background-vector-19883618">
        Success_ER / VectorStock</a><br>
    Man with record background vector<br><br>
    <a href="https://www.freepik.com/vectors/calendar">stories / Freepik</a><br>
    Calendar vector<br><br>
    <a href='https://www.freepik.com/vectors/background'>pikisuperstar / Freepik</a><br>
    Calendar green background vector<br><br>
</div>
{% endblock %}